/* app/globals.css */

/* Tailwind を使わない最小CSS（@tailwind を消す） */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}

a {
  color: inherit;
  text-decoration: none;
}